{
	http_port 8080
	# https_port 8443
}

:8080 {
	tls internal
	handle /admin {
		basic_auth {
			# root:root
			root $2a$14$FHTJXgn8DYRf6cig5t9P9uWKDh5t9lFAMbMNUG1d5JMLVE8xG5gf6
		reverse_proxy 127.0.0.1:9001
		}
	}
	handle_path /ollama/healthz* {
		reverse_proxy 127.0.0.1:11434
	}
	respond /healthz 200
	respond /about "Hello World!"
}
